{% include 'ds_mp_app/header.html' %}
{% load static %}
{% load thumbnail %}
	{% block content %}
	{% if messages %}
	<ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	{% endif %}
	<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
	<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
	variable	
		<div class="container">
			
					<div class="row">
						<div class="col-md-7">
							<img src="{{product.featured_image.url}}" class="img-fluid " style="width:100%; border-radius: 5px;">
						
							<br>
							<br>

							<div class="card p-3">
								<div class="row">


									<div class="col-lg-12">
										<h5 id="product_details_heading">Full description</h5>
										<p>{{product.description_full|safe}}</p>
									</div>
									<div class="col-lg-12">
										
									</div>
									<div class="col-lg-12">
										
									</div>
								</div>
							</div>

							
							<br>

							<div class="card p-3">
								<div class="row">


									<div class="col-lg-12">
										<h5 id="product_details_heading">Product specifications</h5>
										
									</div>
									<div class="col-lg-12">
										
									</div>
									<div class="col-lg-12">
										
									</div>
								</div>
							</div>


							
							<br>

							<div class="card p-3">
								<div class="row">


									<div class="col-lg-12">
							
								
									</div>
									<div class="col-lg-12">
										
									</div>
									<div class="col-lg-12">
										
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="card p-3">
								<div class="row">
									<div class="col-lg-12">
										<div class="row">
											<div class="col-md-6">
												{% load ratings %}
												{% ratings product %}
											</div>
											<div class="col-md-6">
												<span id="save_btn">
													<a href="" id="save_product" class="float-end">
														<i class="fa-solid fa-heart"></i>
													</a>
												</span>
											</div>
										</div>
										<hr>
									</div>
									<div class="col-lg-12">
										<h5 id="product_details_heading">Brand
											<span id="" style="font-weight:100;">
												{% if product.brand %}
													<a href="{{product.brand.get_absolute_url}}">{{product.brand}}</a>
													<a href="{{product.brand.get_absolute_url}}"><img src="{{product.brand.brand_logo.url}}" width="30"></a>
												{% endif %}
											</span>
										</h5>

										<hr>
									</div>

									<div class="col-lg-12">
										<p>
											<b>In category</b>
											{% for category in product.category.all %}
													<a href="{{category.get_absolute_url}}">{{category}}</a> |
											{% endfor %}
										</p>
											
										<hr>
									</div>

									<div class="col-lg-12">
										<h4 id="product_title">{{product.title|title}}</h4>
										<hr>
									</div>
									
									<div class="col-lg-12">
										<h5 id="product_details_heading">Short description</h5>
										<p>{{product.description_short|safe}}</p>
										<hr>
									</div>


									<div class="col-lg-12">
										<ul class="product_badges">
										{% if product.product_is_featured %}

												<li>Featured product</li>

											{% endif %}

											{% if product.product_is_bestseller %}

												<li>Bestselling product</li>

											{% endif %}

											{% if product.product_is_on_sale %}

												<li>On sale</li>

											{% endif %}

											{% if product.high_sell_through %}

												<li>High-sell through product</li>

										{% endif %}

									</ul>
									<hr>
									</div>

									<div class="col-lg-12">
										
										{% if product.product_details_list %}
										<h5 id="product_details_heading">Details list</h5>
											{% for product_details_list_item in product.product_details_list.product_details_list_items.product_details_list_items.all %}
												<ul class="product_details_list">
													<li><p><b>{{product_details_list_item.title}}</b><br>
														{{product_details_list_item.details_description|safe}}</p>
													</li>
												</ul>
											{% endfor %}
										{% endif %}
										<hr>
									</div>
									<div class="col-lg-12">
											{% if user.is_authenticated %}
										{% if product.price_sale %}
											<s>${{product.price_regular}}</s>
											<b>${{product.price_sale}}</b>
											{% else %}
											   ${{product.price_regular}}
										{% endif %}
										<hr>
									</div>
									<div class="col-lg-12">
										<div class="row">	
											
												
												{% include 'actions/dropship_variable_product.html' %}	

											{% else %}
												<p>Please <a href="{% url 'accounts:login' %}">login</a> to view prices.</p>
											{% endif %}															
										</div>
										<hr>
									</div>
									<div class="col-lg-12">
										<h5 id="product_details_heading">Estimated delivery</h5>
									</div>
									<div class="col-lg-12">
									
									</div>
									<div class="col-lg-12">
									
									</div>
								</div>
							</div>
						</div>
					</div>
				
		</div>
	{% endblock %}














	<script type="text/javascript">
		

		


		
	</script>