
<hr>

<div class="footer_top p-3">
	<div class="container ">
		<div class="row">

			<div class="col-md-4">
				<ul class="social_connect_menu">
						<li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
						<li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>

				</ul>
				<h4><b>Call us at:</b> 929-944-8015</h4>
			</div>

			<div class="col-md-2">
				<ul class="">
					<li><a href="{% url 'ds_mp_app:policies' %}">Policies</a></li>
					<li><a href="{% url 'ds_mp_app:private_labelleing' %}">Private labelling</a></li>
					<li><a href="{% url 'ds_mp_app:for_businesses' %}">For businesses</a></li>
					<li><a href="{% url 'ds_mp_app:careers' %}">Careers</a></li>

					
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="">
					
					<li><a href="{% url 'ds_mp_app:affiliation_program' %}">Affiliate program</a></li>
					<li><a href="{% url 'ds_mp_app:help_center' %}">Help center</a></li>
					
				</ul>
			</div>

		</div>
	</div>
</div>
<hr>
<div class="footer_middle">
	<div class="container-fluid ">
		<div class="row">
			<div class="col-lg-12 text-center">
				<ul class="footer_middle_menu">
						<li><a href="{% url 'ds_mp_app:about_us' %}">About Us</a></li>
						<li><a href="{% url 'ds_mp_app:contact_us' %}">Contact Us</a></li>
						<li><a href="{% url 'ds_mp_app:terms_conditions' %}">Terms & Conditions</a></li>
						<li><a href="{% url 'ds_mp_app:privacy_policy' %}">Privacy Policy</a></li>
						<li><a href="{% url 'ds_mp_app:do_not_sell_my_personal_information' %}">Do Not Sell My Information</a></li>
						<li><a href="{% url 'ds_mp_app:dropshipper_application' %}">Dropshipper application</a></li>
						<li><a href="{% url 'ds_mp_app:f_a_q' %}">F.A.Q</a></li>
						

				</ul>
			</div>
			
	

		</div>
	</div>
</div>


<div class="footer_bottom">
	<div class="container-fluid ">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p class="copy_text">© 2023 DS/MP - Dropship Markeptplace. All rights reserved.</p>
			</div>
		


		</div>
	</div>
</div>

</body>
</html>