<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h5>Latest products in {% for cat in product.category.all %} {{cat}} {% endfor %}:</h5>
			<br>
			<hr>
			<br>
			<div class="row">
			{% for product in latest_products %}
				<div class="col-md-2">
					{% load thumbnail %}
					<a href="{{product.get_absolute_url}}">
						<img src="{% thumbnail product.featured_image 400x400 crop %}" class="img-fluid ">
					</a>
					<a href="{{product.get_absolute_url}}">{{product}}</a><br>
					{% if product.price_sale %}
						<s>${{product.price_regular}} </s>
						   ${{product.price_sale}} 
					{% else %}
						${{product.price_regular}}
					{% endif %}

					<form action="{% url 'ecommerce:add_single_product_to_cart'  product.pk %}" method="POST">
						{% csrf_token %}
						<button  class="add_single_product_to_cart" id="add_single_product_to_cart" >Add to cart</button>
					</form>


				</div>
			{% endfor %}
		</div>
		</div>
	</div>
</div>