#map {
  height: 100%;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html{
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
font-family: 'Roboto Slab', serif;
  background: #eee;
}
.django_experiments_app_body_bg{
  background: #dew111;
  height: 100%;
}
.badge-attention{
  background: green;
  color:white;
  padding: 3px 10px;
  border-radius: 3px;
  text-transform: capitalize;
}
.text-right{
  text-align: right;
}
.border_left{
border-left: 1px solid #999;
}.border_right{
border-right: 1px solid #999;
}
.badge-canceled{
    background: red;
  color:white;
  padding: 3px 10px;
  border-radius: 3px;
  text-transform: capitalize;
}
.badge-pending{
    background: orange;
  color:white;
  padding: 3px 10px;
  border-radius: 3px;
  text-transform: capitalize;
}
b{
  font-weight: 800;
}
.font_weight_none{
  font-weight: 300;
}

.breaadcrumb_a{
  font-size: 10px;
}
hr{
  padding: 0;
  margin: 0;
}
.order_totals{
  padding: 50px 0; 
  background: #ddd;

}
.order_shipping_details{
    padding: 50px 0; background: #fff;
}
h1,h2,h3,h4,h5,h6{
  font-weight: 600;
    padding: 0;
  margin: 0;
}
.breadcrumb {
    --bs-breadcrumb-padding-x: 0;
    --bs-breadcrumb-padding-y: 0;
    --bs-breadcrumb-margin-bottom: 1rem;
    --bs-breadcrumb-bg: ;
    --bs-breadcrumb-border-radius: ;
    --bs-breadcrumb-divider-color: var(--bs-secondary-color);
    --bs-breadcrumb-item-padding-x: 0.5rem;
    --bs-breadcrumb-item-active-color: var(--bs-secondary-color);
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 0;
    font-size: var(--bs-breadcrumb-font-size);
    list-style: none;
    background-color: var(--bs-breadcrumb-bg);
    border-radius: var(--bs-breadcrumb-border-radius);
}
.breadcrumb li {
  font-size: 10px;
}
.breadcrumb li a {
  font-size: 10px;
}
p{
  font-size: 12px ;
}
.border_radius_sm{
  border-radius: 5px;
}
.width_100_percent{
  width: 100%;
}
 .persons_table  tr td{
      padding: 0;
      margin: 0;
    }
    .persons_table_head{
        background: #d8849f;
        color: #00ff2a;
      }

      #navigation{
        background: #111;
        border-bottom: 1px solid #000;
         color: #03fc24;
      }
      #navigation a{
        color: #03fc24;
      }

     .query_featured_image{
      width:100%;
     } 

     .categories_menu{
      padding: 0;
      margin: 0;
      list-style: none;
     }
     .categories_menu li{

     }
     .categories_menu li a {
      font-size: 12px;
      color: black;
     }
     .query_profile_image{
      border-radius: 50%;
     }
     .query_title{
      font-size: 20px;
      color: black;
     }
     .browse_queries_title{
      color: black;
     }}

#order_items_table table thead tr td {
  background: black;
}



#tracking_updates_bar{
  background: green;
  height: 20px;
  border-radius: 15px;
}
.main_footer{
  height: 500px;
}



.card{
  border:none;
}


.strain_details_card{
  min-height: 75px;
  padding-top: 20px;
}


/**********************************/
.form-control{
  margin-bottom: 3px;
}
.login_form_table tr td{
  padding: 0;
  border:none;
}
.login_form_card{
  margin: 200px 0;
  padding: 20px;
}
.login_btn{
  background: #000;
  color: white;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.login_btn:hover{
  background: #000;
  color: white;
  width: 100%;
  margin-bottom: 10px;
}
.f-btn{
  background: #1877f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.f-btn:hover{
  background: #1877f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.g-btn{
  background: #ea4335;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.g-btn:hover{
  background: #ea4335;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.t-btn{
  background: #1da1f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
.t-btn:hover{
  background: #1da1f2;
  color: white;
  width: 100%;
  margin-bottom: 3px;
}
/**********************************/











/************** cannabis_db styles starts here ******************************/

.title_heading{
  color: #000;
  padding: 0;
  margin: 0;
}
.headline{

}
p{
  padding: 0;
  margin: 0;
}

hr{
  border-top:1px solid #000;
  padding: 0;
  margin: 0;
}
#strain_type_badge_HYBRID{
  background: green;
  color: #FFFFFF;
  padding: 3px 10px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 3px;
}
#strain_type_badge_SATIVA{
  background: green;
  color: #FFFFFF;
  padding: 3px 10px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 3px;
}
#strain_type_badge_INDICA{
  background: #26c92e;
  color: #FFFFFF;
  padding: 3px 10px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 3px;
}
.feeling_desc{
  font-size: 10px;
  color: #666;
}
.review_rating_card{
  margin: 5px 0px;
}
.review_rating_card_header{
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #EEE;
}
.review_rating_card_body{
  padding: 0;
  margin: 0;
}
.review_rating_card_footer{
  padding: 0;
  margin: 0;
  border-top: 1px solid #EEE;
}
.review_rating_card p {
  font-size: 12px;
    padding: 0;
  margin: 0;
}
/************** cannabis_db styles ends here ******************************/

.filler{
  height: 30px;
}
.custom_tf{
  width: 100%;
  border-radius: 3px;
  border:1px solid #DDD;
  padding: 3px 5px;
  font-size: 12px;
  margin-bottom: 3px;
}
.custom_ta{
  width: 100%;
  border-radius: 3px;
  border:1px solid #DDD;
  padding: 3px 5px;
  font-size: 12px;
  transition: all .5s ease-out ;

}
.custom_ta:hover{
  width: 100%;
  border-radius: 3px;
  border:1px solid #DDD;
  padding: 3px 5px;
  font-size: 12px;
  height: 200px;
  transition: all .5s ease-out ;
}

.alert-success{
  background: none;
  padding: 0;
  margin: 0;
}
.messages{
  padding: 0;
  margin: 0;
}



.social_share_menu{
  list-style: none;
    padding: 0;
  margin: 0 auto;
}
.social_share_menu li {
  float:left;
  margin: 5px;
  background: #f5f5f5;
}
.blog_content_card{
  margin: 5px 0;
}




















#qty{

border:1px solid #ddd;
color:#000;
text-transform: capitalize;
border-radius:25px;
margin: 10px 0;
width: 49.5%;
padding: 8px 10px;


}






#dropship_btn_lg{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff670f+57,fc0f0f+99 */
background: #ff670f;

border:1px solid #ff670f;
color:#fff;
text-transform: capitalize;
border-radius:25px;
margin: 10px 0;
padding: 4px 30px;
width: 50%;
float: right;
font-weight: 500;
}

.order_item_table{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 5px;
}

.order_details_card{
  min-height: 250px;
}

.order_details_list{

  padding: 0;
  list-style: none;
}
.order_details_list li {
 
}
.address_list{
  padding: 0;
  margin: 0;
  list-style: none;

}
.help_with_order_menu{
  padding: 0;
  margin: 0;
  list-style: none;
}
.help_with_order_menu li{
  display: inline;
}


#vendor_logo{
border-radius: 10px;

margin: 10px;
}


#contact_vendor_btn{
  background: red;
  color: white;
  width: 13%;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 3px;
}



#product_variable_thumbnail_swatch_card{
  border-radius: 3px;
  border: 1px solid #333;
  min-height: 100px;
}

#product_variable_thumbnail{
  border-radius: 3px;
  border: 1px solid #333;
  margin: 4px;
}

#product_variable_price_swatch_card{
  border-radius: 3px;
  border: 1px solid #333;
  margin: 4px;

}

#save_btn{
  margin-top:10px;
  margin-left: 10px;;
  z-index: 99999;
  position: absolute;

}

#save_product_heart_btn{

}