
		<table class="table filters_table p-0">
		    <form method="get">
		        <tr>
		        	<td>{{f.form.brand.label}}</td>
		        </tr>
		        <tr>
		        	<td>{{f.form.brand}}</td>
		        </tr>


		        <tr>
		        	<td>{{f.form.product_color.label}}</td>
		        </tr>
		        <tr>
		        	<td>{{f.form.product_color}}</td>
		        </tr>



		        <tr>
		        	<td>Price highest</td>
		        </tr>
		        <tr>
		        	<td>{{f.form.price__gt}}</td>
		        </tr>


		        <tr>
		        	<td>Price lowest</td>
		        </tr>
		        <tr>
		        	<td>{{f.form.price__lt}}</td>
		        </tr>





			       <tr><td ><input type="submit" /></td></tr>
		    	</tr>
		        
		    </form>


	   </table>



