<br>
<h5>Account menu</h5>
<hr>
<br>
<ul class="accounts_page_menu">

        <li><a href="{% url 'accounts:account_settings' %}">Account settings</a></li>
        <li><a href="{% url 'accounts:privacy_settings' %}">Privacy settings</a></li>
        <li><a href="{% url 'account_email' %}">Email settings</a></li>
        <li><a href="{% url 'account_reset_password' %}">Password reset</a></li>
        <li><a href="{}">Overview</a></li>

        <br>
        <hr>
        <br>

        <li><a href="">Orders</a></li>
        <li><a href="">Payments center</a></li>
        <li><a href="">Refund and return</a></li>
        <li><a href="">Feedback</a></li>
        <li><a href="">Addresses</a></li>
        <li><a href="">Message center</a></li>
        <li><a href="">Customer central</a></li>

        <br>
        <hr>
        <br>

        <li><a href="{% url 'account_logout' %}">Logout</a></li>
        
</ul>