{% extends 'ds_mp_app/base.html' %}
  {% block content %}
  <div class="filler"></div>
<div class="container-fluid ">

    <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-8">

        <div class="row">
            <div class="col-lg-12">
              
       
              <h1>Contact Us</h1>
              <hr>
              <p></p>
              
            </div>
           
        </div> 
    </div>
    <div class="col-md-2">
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      
    </div>
    <div class="col-md-8">

        <div class="row">
            <div class="col-md-3">
              
            </div>
            <div class="col-md-9">
          




 <div class="row">

    <div class="col-md-6">
      <div class="card contact_page_card p-5">
        <br>
        <h3 class="contact_page_card_heading">My Account</h3>
        <br>
        <hr>
        <br>

      </div>
    </div>

    <div class="col-md-6">
      <div class="card contact_page_card p-5">
    <br>
    <h3 class="contact_page_card_heading">Shopping</h3>
    <br>
    <hr>
    <br>

  </div>
    </div>
    <div class="col-md-6">
      <div class="card contact_page_card p-5">
    <h3 class="contact_page_card_heading">Billing</h3>
    <br>
    <hr>
   <br>

</div>
    </div>

    <div class="col-md-6">
      <div class="card contact_page_card  p-5">
    <h3 class="contact_page_card_heading">Returns</h3>
   <br>
    <hr>
    <br>

</div>
    </div>





    <div class="col-md-6">
      <div class="card contact_page_card  p-5">
    <h3 class="contact_page_card_heading"><i class="fa-solid fa-phone"></i> | 929-944-8015</h3>
   <br>
    <hr>

</div>
    </div>





    <div class="col-md-6">
      <div class="card contact_page_card  p-5">
    <h3 class="contact_page_card_heading"><i class="fa-solid fa-envelope"></i> | everydaylifestyleny@gmail.com</h3>
   <br>
    <hr>

</div>
    </div>




</div>







<div class="filler"></div>
<div class="filler"></div>
<div class="filler"></div>








            </div>
           
        </div> 
    </div>
    <div class="col-md-2">
      
    </div>
  </div>
</div>
     
  {% endblock %}