{% include 'template_parts/header.html' %}
	{% block content %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
				
				</div>
				<div class="col-md-8">

					<div class="row">
					
						<div class="col-md-10">

							<h4>My wishlists</h4>

							<hr>

							<div class="row">
								<a  href="{% url 'ecommerce:create_wishlist'  %}" >create wishlist</a>
								<hr>
								{% for wishlist in wishlists %}

									<div class="col-lg-12">
										<a href="{% url 'ecommerce:wishlist' wishlist.pk %}">{{wishlist}}</a> 
						


										<br>

										<b>wishlist date created:</b> {{wishlist.date_created}} | 
										<b>wishlist date updated:</b> {{wishlist.date_updated}} | 
										<b>wishlist description:</b> {{wishlist.description|safe}} | 

										there are <b>{{wishlist.products.count}}</b>  in this wishlist

										<hr>
									</div>

								{% endfor %}
							</div>


						</div>

						<div class="col-md-2">
						
						</div>

					</div>
					
				</div>

				<div class="col-md-2">
				
				</div>
			</div>
		</div>

	{% endblock %}